.lists {
    grid-column: 1;

    height: calc(100vh - 50px);

    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.createNewList {
    position: absolute;
    bottom: 30px;

    margin-left: 40px;
    margin-right: 40px;

    font-size: 15px;
    color: rgb(20, 29, 39);

    border: none;
    background: none;

    cursor: pointer;
}


/* ---------- LIST INPUT ---------- */

.listInput {
    position: absolute;

    display: flex;
    visibility: hidden;
    transition: all 0.5s ease-in-out;

    width: calc(20vw - 80px);
    height: 38px;

    bottom: 45px;

    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;

    border-radius: 5px;

    background-color: rgb(255, 255, 255, 0.5);
}
.listInput input {
    margin-top: 8px;

    background-color: rgb(255, 255, 255, 0.5);

    width: calc(20vw - 200px);

    border: 1.5px solid rgb(255, 255, 255, 0.5);
    border-radius: 5px;

    padding: 5px;
    height: 10px;
}
.listInput input:focus {
    outline: none;
    border: 1.5px solid rgb(155, 195, 248);
}

.listInput p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 11px;
}
.enterListBtn {
    height: 20px;
    margin-top: 11px;
    margin-left: 10px;

    cursor: pointer;
}


/* ---------- LISTS ---------- */

.input-controller-lists textarea {
    border: none;
    background: rgb(163, 207, 255);
    border-radius: 2px;
    width: calc(100% - 45px);

    margin-bottom: 5px;

    padding-left: 10px;
    padding-top: 10px;

    resize: none;
}

.input-controller-lists textarea:not([disabled]) {
    outline: none;
}

.input-controller-lists textarea:disabled {
    outline: none;
}

.input-controller-lists textarea:hover {
    background: rgb(163, 207, 255, 0.7);
}

.input-controller-lists {
    margin-left: 40px;
    margin-right: 30px;
}

.editBtn {
    position: absolute;
    right: 10px;
    top: 20px;

    cursor: pointer;
}