body {
    background-image: url("../img/Background.jpg");
    background-size: 100%;

    position: fixed;
}

.grid-container {
    display: grid;
    gap: 1.5vw;
    grid-template-columns: 20vw 25vw 20vw;
    grid-template-rows: 40px;

    padding: 1vw;

    font-family: Arial, Helvetica, serif;
    letter-spacing: 0.2px;

    height: calc(100vh - 50px);
}


/* ---------- GENERAL ---------- */

.title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 30px;

    border-bottom: 1.5px solid black;
}

p {
    margin-left: 40px;
    margin-right: 40px;
}

button {
    margin-left: 40px;
    text-align: left;

    cursor: pointer;
}

.currentElement {
    height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    width: 16vw;

    border-radius: 5px;
    background: rgb(163, 207, 255);

    border: none;

    cursor: pointer;
}
.currentElement:hover {
    background: rgb(155, 195, 248);
}

/* ---------- SEARCH BOX ---------- */
.searchBox {
    margin-top: 20px;
}

.searchBox input {
    background-color: rgb(255, 255, 255, 0.2);
    border: none;
    height: 15px;
    border-radius: 5px;
    padding: 2px;

    width: 60%;

    transition: all 0.4s ease-in-out;
}
.searchBox input:focus {
    background-color: rgb(255, 255, 255, 0.5);
    width: calc(100% - 25px);
    outline: none;
}
