body {
    background-image: url("../../../img/Background.jpg");
    background-size: 100%;

    position: fixed;
}

.grid-container {
    display: grid;
    gap: 1.5vw;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 40px;

    padding: 1vw;

    font-family: Arial, Helvetica, serif;
    letter-spacing: 0.2px;
}


/* ---------- GENERAL ---------- */

.title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 30px;

    border-bottom: 1.5px solid black;
}

p {
    margin-left: 40px;
    margin-right: 40px;
}

button {
    margin-left: 40px;
    text-align: left;
}

.currentElement {
    height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    width: 16vw; /* TODO länge korrigieren */

    border-radius: 5px;
    background: rgb(163, 207, 255);

    border: none;

    cursor: pointer;
}
.currentElement:hover {
    background: rgb(155, 195, 248);
}
