.currentList {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}


.createNewTodo {
    position: absolute;
    bottom: 30px;

    margin-left: 40px;
    margin-right: 40px;

    font-size: 15px;
    color: rgb(20, 29, 39);

    border: none;
    background: none;

    cursor: pointer;
}


/* ---------- INPUT FIELD ---------- */

.todoInput {
    position: absolute;

    width: calc(20vw - 70px);
    bottom: 45px;
    flex-direction: row;

    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;

    border-radius: 5px;

    height: 5.5vh;
    background-color: rgb(255,255,255, 0.5);

    display: none;
}
.todoInput input {
    margin-top: 10px;

    width: 55%;

    border: 1.5px solid rgb(155, 195, 248);
    border-radius: 5px;

    padding: 5px;
    height: 15px;
}
.todoInput p {
    margin-left: 10px;
    margin-right: 10px;
}
.todoInput button {
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;
}


/* ---------- TODOS ---------- */

.todos {
    margin-left: 40px;
    margin-right: 30px;
}

.input-controller {
    transform: translateZ(0);
}

.input-controller textarea {
    border: none;
    background: rgb(163, 207, 255);
    border-radius: 2px;
    width: calc(100% - 45px);

    margin-bottom: 5px;

    padding-left: 10px;
    padding-top: 10px;

    resize: none;
}
/* ---------- EDIT TODOS ---------- */

.update-controller button {
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;
    position: relative;
}

.deleteBtn {
    position: absolute;
    right: 10px;
    top: 5px;
}

.editBtn {
    position: absolute;
    right: 10px;
    top: 20px;
}