.todoDetails {
    position: relative;
    grid-column: 3;
    background: green;

    transition: all 0.3s ease-in-out;

    height: 35%;
    width: 20vw;
    min-width: 100%;

    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;

    visibility: hidden;
}

/* ---------- DETAILS NAME ---------- */

#todoDetailsNameHeading {
    margin-top: 30px;
    font-weight: bold;
}

#todoDetailsName {
    position: absolute;

    border: none;
    background: none;
    border-radius: 2px;

    width: calc(100% - 190px);
    height: 25px;
    font-size: 15px;
    cursor: pointer;
    white-space: nowrap;

    overflow-x: auto;
    overflow-y: scroll;

    margin-left: 5px;

    top: 27px;

    resize: none;
}

#todoDetailsName:focus {
    outline: none;
}

#todoDetailsName::-webkit-scrollbar {
    height: 5px;
    display: none;
}

#todoDetailsName:hover::-webkit-scrollbar {
    width: 1px;
    display: block;
}

#todoDetailsName::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* color black */
#todoDetailsName:disabled {
    -webkit-text-fill-color: #000000;
}

.editName-Details {
    position: absolute;
    transform: scale(0.8);
    right: 40px;
    top: 32px;
}
.editName-Details:hover {
    cursor: pointer;
}


/* ---------- DETAILS DATE  ---------- */

#todoDetailsDateContainer {
    display: flex;
    align-items: center;
}

#todoDetailsDateHeading {
    margin: 0;
    margin-top: 5px;
    font-weight: bold;
}

#todoDetailsDate-inputField:disabled {
    -webkit-text-fill-color: #000000;
}

#todoDetailsDate-inputField {
    font-weight: normal;
    border: none;
    outline: none;

    width: 83px;

    font-size: 15px;
    color: black;

    resize: none;
    background: none;
    margin-top: 4px;
    margin-left: 5px;
}

.editDate-Details {
    position: absolute;
    transform: scale(0.8);
    right: 40px;
}
.editDate-Details:hover {
    cursor: pointer;
}

/* ---------- DETAILS DESCRIPTION ---------- */

#todoDetailsDescriptionHeading {
    font-weight: bold;
    margin-top: -2px;
    border-bottom: 1px solid black;
}

#todoDetailsDescription {
    margin-left: 40px;
    width: calc(100% - 103px);
    height: calc(100% - 180px);

    margin-top: -5px;

    border-radius: 2px;
    background-color: rgb(255, 255, 255, 0.5);
    border: 1.5px solid rgb(255, 255, 255, 0.5);
    resize: none;

    padding: 10px;

    outline: none;
}

#todoDetailsDescription:not([disabled])  {
    border: 1.5px solid rgb(155, 195, 248);
    outline: none;
}

.editTodoDescription {
    position: absolute;
    transform: scale(0.8);
    right: 40px;
}
.editTodoDescription:hover {
    cursor: pointer;
}